<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="bootstrap/css/bootstrap.min.css" />
        <link href="bootstrap/css/bootstrap-theme.min.css" />
        <link href="style.css" />
        <link rel="stylesheet" type="text/css" href="">
    </head>
    <body>

        <div id="webapp-container"></div>

        <!-- templates -->
        <script id="okregiSelectTpl" type="text/template">
            <label for="okregiSelect">Wybierz okręg</label>
            <select id="okregiSelect">
                <option value="0">-- wybierz --</option>
                <% _.forEach(data, function(model) { %>
                <option value="<%= model._id %>"><%= model.name %></option>
                <% }); %>
            </select>

            <div id="candidatesListContainer"></div>
        </script>

        <script id="candidatesListTpl" type="text/template">
            <h1>Lista kandydatów dla okręgu: <%= constituency %></h1>
            <table>
                <tr>
                    <th>Kandydat</th>
                    <th>Głosy</th>
                </tr>
                <% _.forEach(data, function(model) { %>
                <tr>
                    <td><%= model.name %></td>
                    <td><input class="candidate-input" id="<%= model._id %>" type="number"></td>
                </tr>
                <% }); %>
            </table>

            <button class="js-save-votes">Zapisz głosy</button>
        </script>

        <script type="text/javascript" src="/lib/jquery.js"></script>
        <script type="text/javascript" src="/lib/underscore-min.js"></script>
        <script type="text/javascript" src="/lib/backbone-min.js"></script>

        <script type="text/javascript" src="/lib/models/Candidate.js"></script>
        <script type="text/javascript" src="/lib/collections/CandidateCollection.js"></script>
        <script type="text/javascript" src="/lib/views/CandidatesView.js"></script>

        <script type="text/javascript" src="/lib/models/Constituency.js"></script>
        <script type="text/javascript" src="/lib/collections/ConstituencyCollection.js"></script>
        <script type="text/javascript" src="/lib/views/MobileMainView.js"></script>

        <script type="text/javascript" src="/lib/models/Votes.js"></script>
        <script type="text/javascript" src="/lib/collections/VotesCollection.js"></script>

        <script type="text/javascript" src="index.js"></script>

    </body>
</html>