<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="../lib/style.css" />
    </head>
    <body>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1>Wyniki wybórów</h1>
          </div>
        </div>
            <div id="webapp-container"></div>
      </div>


		<!-- templates -->
        <script id="chartTpl" type="text/template">
          <div class="row">
            <div id="chart">
                <% _.forEach(data, function(model) { %>
                <div class="col-sm-4 text-center">
                  <div class="column">
                    <div class="result" style="height: <%= 300-model.percent*3 %>px"></div>
                  </div>
        					<h2><%= model.candidate %> </h2>
                  <h3 class="text-muted" data-percent="<%= model.percent %>"><%= model.value %> </h3>
        				</div>
                <% }); %>
            </div>
          </div>
        </script>

		<script type="text/javascript" src="/lib/jquery.js"></script>
		<script type="text/javascript" src="/lib/underscore-min.js"></script>
		<script type="text/javascript" src="/lib/backbone-min.js"></script>
		<script src="/socket.io/socket.io.js"></script>

        <script type="text/javascript" src="/lib/models/Result.js"></script>
        <script type="text/javascript" src="/lib/collections/ResultCollection.js"></script>
        <script type="text/javascript" src="/lib/views/WebappMainView.js"></script>

		<script type="text/javascript" src="index.js"></script>
    </body>
</html>
